<div class="" style="    display: inline-flex;width: 100%;">
    <div class="" style="padding: 40px; width: 50%;">
        <img src="../../../../../../assets/img/suplementos/creatina/creatian2.jpg" alt="Creatina Monohidratada Creapure®">
    </div>
    <div class="" style="padding: 40px; width: 50%;">
        <h2>Creatkna</h2>
        <span>10.55</span>
        <span>7.55</span>
        <div class="rd-quantity--container">
            <app-increase-decrease-quantity></app-increase-decrease-quantity>

        </div>
        <!--Este boton es del ancho del div padre-->
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Comprar</button>
    </div>
</div>
