<div class="" style="    display: inline-flex;width: 100%;">
    <div class="" style="padding: 40px; width: 50%;">
        <img src="../../../../../../assets/img/suplementos/creatina/creatian2.jpg" alt="Creatina Monohidratada Creapure®">
    </div>
    <div class="" style="padding: 40px; width: 50%;">
        <h2>Creatina</h2>
        <div>
            <span>Precio del Producto</span>
            <span>{{precio}}</span>
        </div>
        <div>
            <span>Cantidad a Pagar con la compra</span>
            <span>{{valorAPagar}}</span>
        </div>
        <div>
            <span>Tamaño</span>
            <span>200g</span>
        </div>
        <div>
            <span>Tipo</span>
            <span>Monohidratada</span>
        </div>
        <div>
            <span>Sabor</span>
            <span>Tropical</span>
        </div>

        <div class="rd-quantity--container">
            <app-increase-decrease-quantity (productCantityChangeEvent)="calcularCantidad($event)"></app-increase-decrease-quantity>

        </div>
        <!--Este boton es del ancho del div padre-->
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Comprar</button>
    </div>
</div>
