<div id="left-area" style="margin: 2%;margin-left: 10%; ">

    <div class="container-clearfix" *ngFor="let suplemento of suplementosList">
        <div class="container-main-image">

            <a [routerLink]="[suplemento.href]">
                <img src={{suplemento.img}} alt="Toma más café para perder más grasa corporal" width="240" height="240">
            </a>
        </div>
        <div class="container-description">
            <h2><a [routerLink]="[suplemento.href]">{{suplemento.titulo}} </a></h2>
            <p>{{suplemento.msg}} </p>
            <a [routerLink]="[suplemento.href]" class="read-more"><span>Ver</span></a>
        </div>

    </div>
</div>