<div id="left-area" style="margin: 2%;margin-left: 10%; ">

    <div class="container-clearfix" *ngFor="let suplemento of suplementosList">
        <div class="container-main-image">

            <a href="http://transformer.blogs.quo.es/2018/12/14/toma-mas-cafe-para-perder-mas-grasa-corporal/">
                <img src={{suplemento.img}} alt="Toma más café para perder más grasa corporal" width="240" height="240">
            </a>
        </div>
        <div class="container-description">
            <h2><a href="http://transformer.blogs.quo.es/2018/12/14/toma-mas-cafe-para-perder-mas-grasa-corporal/">{{suplemento.titulo}} </a></h2>
            <p>{{suplemento.msg}} </p>
            <a href="http://transformer.blogs.quo.es/2018/12/14/toma-mas-cafe-para-perder-mas-grasa-corporal/" class="read-more"><span>Leer más</span></a>
        </div>

    </div>
</div>