<div class="column mcb-column one-fourth column_counter ">
    <div class="counter counter_vertical animate-math">
      <div class="animate zoomIn" data-anim-type="zoomIn">
        <div class="icon_wrapper"><img
            [src]="num.img"
            alt="home_gym_counter_1" width="70" height="73"></div>
        <div class="desc_wrapper">
          <div class="number-wrapper"><span class="number" data-to="1452">{{ num.number }}</span></div>
          <p class="title">{{ num.title }}</p>
        </div>
      </div>
    </div>
  </div>