<div class="section mcb-section" style="padding-top:60px; padding-bottom:40px; background-color:#ebeeef">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one  valign-top clearfix" style="">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_fancy_heading">
                    <div class="fancy_heading fancy_heading_icon">
                        <h2 class="title">Check out pricing plans</h2>
                    </div>
                </div>

                <app-plan-precios [plan]="plan" *ngFor="let plan of planes"></app-plan-precios>

            </div>
        </div>
    </div>
</div>