<div class="column mcb-column one-fourth column_opening_hours ">
    <div class="opening_hours">
        <h3>Opening hours</h3>
        <div class="opening_hours_wrapper">
            <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor.</p>
            <ul>
                <li><label>Monday - Friday</label><span>8<sup>00</sup> - 16<sup>00</sup></span></li>
                <li><label>Saturday</label><span>8<sup>00</sup> - 15<sup>00</sup></span></li>
            </ul>
        </div>
    </div>
</div>