<div class="section mcb-section   " style="padding-top:80px; padding-bottom:40px; background-color:#ebeeef">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one  valign-top clearfix" style="">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one-second column_column ">
                    <div class="column_attr clearfix" style="">
                        <h2 style="font-size: 42px; line-height: 42px; margin-top: 20px; margin-bottom: 30px;">Start your healthy
                            <br>lifestyle today</h2>
                        <p class="big" style="margin-bottom: 30px;">Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo. Olutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.
                        </p> <a class="button  button_large button_theme button_js" href="#"><span class="button_label">Lorem
        ipsum dolor</span></a>
                    </div>
                </div>

                <app-gym-open-hour></app-gym-open-hour>

                <app-gym-contact-us></app-gym-contact-us>
            </div>
        </div>
    </div>
</div>