<div class="column mcb-column one-fourth column_pricing_item ">
  <div class="pricing-box  pricing-box-box">
    <div class="animate fadeIn" data-anim-type="fadeIn">
      <div class="plan-header">
        <h2>{{plan.meses}}</h2>
        <div class="price"><sup class="currency">$</sup><span>{{plan.precio}}</span><sup class="period"></sup></div>
        <hr class="hr_color">
      </div>
      <div class="plan-inside">
        <ul>
          <li><strong>Swimming pool</strong> {{plan.swimming_pool}}</li>
        </ul>
        <ul>
          <li><strong>Canteen</strong> {{plan.canteen}}</li>
        </ul>
        <ul>
          <li><strong>Towels</strong> {{plan.towels}}</li>
        </ul>
        <ul>
          <li><strong>Water</strong> {{plan.water}}</li>
        </ul>
        <ul>
          <li><strong>Personal trainer</strong> {{plan.personal_trainer}}</li>
        </ul>
      </div>
      <div class="plan-footer"><a class="button button_theme button_js " href="#"><span class="button_label">Sign up now</span></a></div>
    </div>
  </div>
</div>