<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content" itemprop="mainContentOfPage">

                <app-keep-your-body></app-keep-your-body>

                <app-checkout-pricing-plans></app-checkout-pricing-plans>

                <app-gym-number-dashboard></app-gym-number-dashboard>

                <app-gym-contact-message-dashboard></app-gym-contact-message-dashboard>

            </div>
        </div>
    </div>
</div>