<div class="column mcb-column one-fourth column_contact_box ">
    <div class="get_in_touch">
        <h3>Contact us</h3>
        <div class="get_in_touch_wrapper">
            <ul>
                <li class="address"><span class="icon"><i class="fa fa-map-marker"></i></span><span class="address_wrapper"><strong>Envato</strong><br> Level 13, 2 Elizabeth St,<br>
Melbourne, Victoria 3000 Australia</span></li>
                <li class="phone phone-1"><span class="icon"><i class="fa fa-phone"></i></span>
                    <p><a href="tel:+61(0)791803458">+61 (0) 7 9180 3458</a></p>
                </li>
                <li class="mail"><span class="icon"><i class="fa fa-envelope"></i></span>
                    <p><a href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                </li>
                <li class="www"><span class="icon"><i class="fa fa-link"></i></span>
                    <p><a target="_blank" href="https://www.envato.com/">www.envato.com/</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>