<div class="column one">
    <div class="top_bar_left clearfix" style="width: 1109px;">
        <app-logo-gym></app-logo-gym>

        <div class="menu_wrapper">
            <nav id="menu">
                <ul id="menu-main-menu" class="menu menu-main">
                    <li id="menu-item-5" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item">
                        <a [routerLink]="[ '' ]"><span>Inicio</span></a></li>
                    <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://themes.muffingroup.com/be/gym/about-us/"><span>Rutinas</span></a></li>
                    <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page"><a [routerLink]="[ '/suplementos' ]"><span>Suplementos</span></a></li>
                    <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://themes.muffingroup.com/be/gym/personal-trainer/"><span>Personal trainer</span></a>
                    </li>
                    <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page last"><a href="https://themes.muffingroup.com/be/gym/contact/"><span>Contáctenos</span></a></li>
                    <li id="menu-item-41" class="menu-item menu-item-type-custom menu-item-object-custom last"><a [routerLink]="[ '/login' ]"><span><span style="padding: 0; color: #D26BEB;">Login</span></span></a></li>
                    <li id="menu-item-41" class="menu-item menu-item-type-custom menu-item-object-custom last"><a [routerLink]="[ '/register' ]"><span><span style="padding: 0; color: #D26BEB;">Registro</span></span></a></li>
                </ul>
            </nav>
        </div>
        <a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a>
    </div>
</div>